body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
}
.custom-form {
  background-color: rgba(255, 255, 255, 0.267);
  padding: 50px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2px;
}
.rounded-circle {
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
}

.skill-item {
  display: inline;
  font-size: 12px;
  margin: 3px;
}
.avatar-bg {
  background-image: url("./img/74ae1741bff6a79fbda9a9dad6cf4ef4.png");
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.github{
  background-image: url("./img/github-icon.svg");
}
.icon {
  width: 30px;
  background-repeat: no-repeat;
  height: 30px;
  background-size: cover;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.google{
  background-image: url("./img/Google.svg");
}
.icon-container{
 display: flex;
 justify-content: space-around;
 margin:0 25% 0 25%;
}
.form-control{
  border:none;
  border-radius: 20px;
}
h1,h2,h3,h4{
  font-family: 'Amatic SC', cursive;
}
nav{
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 700;
}
.btn{
  font-weight: 700;
}

.card,th,td,h5{
  font-family: 'Roboto',sans-serif;
}
@media only screen and (max-width: 480px) {
  .modal-dialog{
    position: relative;
    top:0;
    width:100%;
    height: 100vh;
    bottom:0;
    left:0;
    right:0;
    margin:0;
  }
}